<div class="my-courses-div">
  <h1 class="title">My Courses</h1>
  <div class="videos-part">
    <ng-container *ngIf="myCourses.length > 0; else noEnrolled">
      <div class="outer-div">
        <div *ngFor="let item of myCourses; trackBy: trackById"
           class="my-video"
           (click)="goToVideosList(item.playlistId)">
          <app-my-course [video]="item"></app-my-course>
        </div>
      </div>
    </ng-container>

    <ng-template #noEnrolled>
      <div class="no-courses">
        <p>No courses to view.</p>
      </div>
    </ng-template>
  </div>
</div>

<div class="recommendation-div">
  <h1 class="title">Recommended Courses</h1>
  <div class="recm-videos-part">
    <ng-container
      *ngIf="recommendedCourses.length > 0; else noRecommendedCourses"
    >
      <div class="recm-outer-div">
        <div *ngFor="let item of recommendedCourses; trackBy: trackById"
           (click)="goToSingleCourse(item.id)">
          <app-my-course [video]="item"></app-my-course>
        </div>
      </div>
    </ng-container>

    <ng-template #noRecommendedCourses>
      <div class="no-courses">
        <p>No recommended courses available.</p>
      </div>
    </ng-template>
  </div>
</div>
