.title {
  margin-left: 15px;
  position: relative;
  display: inline-block;
}

.title::after {
  content: "";
  display: block;
  margin-top: 5px;
  justify-self: center;
  width: 65%;
  height: 5px;
  background-color: #f4b400;
  border-radius: 0 0 80% 80%;
}
.videos-part {
  background-color: rgb(249, 249, 250);
  padding: 20px;
  justify-self: center;
  min-height: 300px;
  width: 96%;
  border: 1px solid #d8dadd;
  border-radius: 1%;
  margin-top: 25px;
}

.outer-div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.my-video {
  width: 554px;
}
.see-all-btn {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.no-courses {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #777;
  font-style: italic;
  font-size: 1.5rem;
}
.recommendation-div {
  margin-top: 50px;
}
.recm-videos-part {
  background-color: rgb(249, 249, 250);
  padding: 20px;
  justify-self: center;
  min-height: 300px;
  width: 95%;
  border: 1px solid #d8dadd;
  border-radius: 1%;
  margin-top: 25px;
}
.recm-outer-div {
  display: flex;
  gap: 30px;
}
