<div class="main-part">
  <div class="community-part">
    <h4>Online Live Skill Platform</h4>
    <h3>Download SkillHive App</h3>
    <div class="download-dest">
      <img src="assets/images/playStore_icon.svg" alt="" />
      <img src="assets/images/microsoft_store_icon.svg" alt="" />
    </div>
    <h4>To connect with Community</h4>
    <div class="download-dest">
      <img src="assets/images/facebook-fill.png" alt="" />
      <img src="assets/images/insta_icon.svg" alt="" />
      <img src="assets/images/yt_icon.svg" alt="" />
    </div>
  </div>
  <div class="contact-part">
    <h3>Conatct Us</h3>
    <p>
      <img src="assets/images/mail-line.png" alt="" />Email us at
      support&#64;skillhive.com
    </p>
    <p>
      <img src="assets/images/map-pin-line.png" alt="" /> Ka-6/a, Navana
      Sylvania, Baridhara Road, Nadda, Gulshan-2, Dhaka-1212
    </p>
    <p style="font-size: smaller">© 2025 SkillHive Inc. All rights reserved.</p>
  </div>
</div>
<img class="pmnt_ico" src="assets/images/payment_icons.webp" alt="" />
