<header class="header">
  <div class="logo" [routerLink]="['home']">
    <img src="assets/images/logo.png" alt="Digital Agency Logo" />
  </div>
  <input type="text" placeholder="Search Courses" />

  <nav class="nav">
    <a
      routerLink="home"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a routerLink="/free-courses" routerLinkActive="active">Free Courses</a>
    <a routerLink="/my-courses" routerLinkActive="active">My Courses</a>
    <a routerLink="/payment" routerLinkActive="active">My Profile</a>
  </nav>

  <div class="badge-section">
    <img
      src="assets/images/silver_badge.png"
      alt="User Badge"
      class="user-badge"
    />
  </div>
  <app-prim-button (clicked)="goToLogin()">Login/Sign Up</app-prim-button>
</header>
