<div class="outer-div">
  <h1>Complete Payment</h1>

  <div class="inner-div-1" *ngIf="course">
    <div class="inner-div">
      <div class="course-details">
        <img [src]="course.img_url" [alt]="course.course_name" />
        <h2>{{ course.course_name }}</h2>
      </div>
      <h3>Payment Details</h3>
      <h4>Course Fee : {{ course.course_fee }} BDT/=</h4>
    </div>

    <div class="payment-class">
      <h2>Payment Method</h2>
      <div class="payment-methods">
        <label>
          <input type="radio" name="paymentMethod" value="bkash" />
          <img
            class="payment-logo"
            src="assets/images/bkash-payment.png"
            alt=""
          />
        </label>
        <label>
          <input type="radio" name="paymentMethod" value="nagad" />
          <img class="payment-logo" src="assets/images/nagad.png" alt="" />
        </label>
        <label>
          <input type="radio" name="paymentMethod" value="rocket" />
          <img class="payment-logo" src="assets/images/rocket.png" alt="" />
        </label>
      </div>
    </div>
  </div>
  <p>
    * Pay the course Fee on this number : 018******** or 016******** or
    017********
  </p>
  <div class="transaction">
    <label for="trxid">Transaction ID</label>
    <input id="trxid" type="text" placeholder="e.g., CEA12345678" />
  </div>
  <div class="Complete-pmnt-Btn">
    <app-prim-button>Complete Payment</app-prim-button>
  </div>
</div>
